<head>
  <link href="https://vjs.zencdn.net/7.5.4/video-js.css" rel="stylesheet">
</head>

<div class="card my-5">
  <div class="card-header">
    Add New Advertisement
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #adForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="ad.name"
               class="form-control" id="name" name="name" placeholder="Ad name"
               required #name="ngModel">
      </div>
      <div [hidden]="ad.name != undefined && ad.name.length > 0" class="alert alert-danger">Ad name is required</div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="number" min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="ad.duration"
               class="form-control" id="duration" name="duration" placeholder="Enter duration"
               required #duration="ngModel">
      </div>
      <div [hidden]="ad.duration > 0" class="alert alert-danger">Duration is required</div>

      <div class="form-group">
        <label for="duration">Importance</label>
        <input type="number" min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="ad.importance"
               class="form-control" id="importance" name="importance" placeholder="Enter importance"
               required #importance="ngModel">
      </div>
      <div [hidden]="ad.importance > 0" class="alert alert-danger">Importance is required</div>




      <div class="form-group" >
        <label for="adType">Ad Type:</label>

        <select class="custom-select" [(ngModel)]="ad.type"  [disabled]="existingAd" id="adType" name="adType" required #adType="ngModel">
          <option [ngValue]="adTypes[0]">Linear</option>
          <option [ngValue]="adTypes[1]">Overlay</option>
        </select>

      </div>
      <div [hidden]="adTypes[ad.type]>=0" class="alert alert-danger">Ad type is required</div>

      <div class="form-group">
        <label for="category">Category:</label>

        <select class="custom-select"  [(ngModel)]="ad.category"  id="category" name="category" required #category="ngModel">
          <option [ngValue]="categories[0]">Automotive</option>
          <option [ngValue]="categories[1]">Beverages</option>
          <option [ngValue]="categories[2]">Food</option>
          <option [ngValue]="categories[3]">Health</option>

        </select>

      </div>
      <div [hidden]="categories[ad.category] >= 0" class="alert alert-danger">Ad category is required</div>

      <div class="form-group">
        <!-- Default switch -->
        <div class="custom-control custom-switch">
          <input type="checkbox" [checked]="ad.active" class="custom-control-input" id="customSwitch1" [(ngModel)]="ad.active" name="active">
          <label class="custom-control-label" for="customSwitch1">Active?</label>
        </div>
      </div>

      <div class="form-group">


      <div class="custom-file">
        <input type="file" [disabled]="existingAd" id="file" accept="video/mp4,video/x-m4v,video/*,image/*" (change)="uploadFile($event)"  name="file" required  />
        <label class="custom-file-label" id="fileLabel" for="file">Choose File</label>
      </div>
      </div>
      <div [hidden]="!fail" class="alert alert-danger" id="file-error">Invalid file format.</div>

      <input type = "button" [hidden]="!existingAd" (click)="showPreview()" class="btn btn-info" style="margin-right: 10px" value="Preview" />

      <button type = 'submit' [disabled]="!adForm.form.valid || ad.fileName==null" class="btn btn-info" >Submit</button>

      <div id="showImage" style="margin-top: 10px" [hidden]="imageHidden">
        <img [src]="'http://localhost:8080/files/' + ad.fileName" class="img img-responsive">
      </div>

      <div id="showVideo" [hidden]="videoHidden" style="margin-top: 10px">
        <video #myvid id="my-video" class="video-js vjs-big-play-centered mini-play"
               width="640" height="360"  style="margin: auto;">
        </video>
      </div>

    </form>
  </div>
</div>
