<div class="card my-5">
  <div class="card-header">
    Add New Advertisement
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #adForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="ad.name"
               class="form-control" id="name" name="name" placeholder="Ad name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Ad name is required</div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="number" min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="ad.duration"
               class="form-control" id="duration" name="duration" placeholder="Enter duration"
               required #duration="ngModel">
      </div>
      <div [hidden]="!duration.pristine" class="alert alert-danger">Duration is required</div>

      <div class="form-group">
        <label for="duration">Importance</label>
        <input type="number" min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="ad.importance"
               class="form-control" id="importance" name="importance" placeholder="Enter importance"
               required #importance="ngModel">
      </div>
      <div [hidden]="!importance.pristine" class="alert alert-danger">Importance is required</div>




      <div class="form-group">
        <label for="adType">Ad Type:</label>

        <select class="custom-select"  [(ngModel)]="ad.type" id="adType" name="adType" required #adType="ngModel">
          <option selected = "selected" value="0  ">Linear</option>
          <option value="1">Overlay</option>
          <option value="2">In Banner</option>
        </select>

      </div>
      <div [hidden]="!adType.pristine" class="alert alert-danger">Ad type is required</div>

      <div class="form-group">
        <!-- Default switch -->
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="ad.active" name="active">
          <label class="custom-control-label" for="customSwitch1">Active?</label>
        </div>
      </div>

      <div class="form-group">


      <div class="custom-file">
        <input type="file"  id="file" accept="video/mp4,video/x-m4v,video/*,image/*" (change)="uploadFile($event)"  name="file" required  />
        <label class="custom-file-label" id="fileLabel" for="file">Choose Video</label>
      </div>
      </div>
      <div [hidden]="!fail" class="alert alert-danger" id="file-error">Invalid video format.</div>

      <button type="submit" [disabled]="!adForm.form.valid || ad.fileName==null" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
