<div class = "row" style="margin-top: 40px; ">
  <div class="col-sm-6 w3-agile-crd">
    <div class="card">
      <div class = "card-header">
        <h2 class = "text-center">Total Count</h2>
      </div>
      <div class="card-body card-padding" style="height: 150px">
        <h2 class = "text-center" style="vertical-align: center">{{ads.length}}</h2>
      </div>
    </div>
  </div>

  <div class="col-sm-6 w3-agile-crd" >
    <div class="card">
      <div class = "card-header">
        <h2 class = "text-center">Upload New</h2>
      </div>
      <div class="card-body card-padding" style="height: 150px">
        <a routerLink="/newAd">
          <img src="../assets/upload.png" class = "img img-responsive text-center center-block" style="height: 90px; vertical-align: center"/>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class = "card-header">
    <h2>Advertisements</h2>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-striped " id="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Category</th>
        <th scope="col">Active</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ad of ads">
        <td>{{ ad.name }}</td>
        <td>{{ ad.type }}</td>
        <td>{{ ad.category }}</td>
        <td>{{ ad.active ? "Yes" : "No" }}</td>
        <td><a href="/ads/{{ad.id}}">Edit</a></td>
        <td (click)="delete(ad)"><a style="color: #008DE7; cursor: pointer">Delete</a> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

